{% extends "base/layout.html" %}
{% load static %}
{% block title %} {% if category %} {{category.name}} {% else %} Products {% endif %} {% endblock title %}

{% block content %}



        <div class="container pt-2">


            <div class="row">

           
  

                <!-- product listing sectio  -->
                <div class="col-md-9">
                                <h3 class="text text-danger">{% if category %} {{category.name}} {% else %} Products {% endif %}</h3>
<hr>

                    <div class="row">
                    {% for prod  in products %}
                        <div class="col-sm-3">

                          <figure class="figure">
                             <a href=" {{prod.get_absolute_url}} "><img src=" {{prod.image.url}} " class="figure-img  rounded" alt="..." width="150px" height="150px"></a>
                            
                             <a href=" {{prod.get_absolute_url}} "><figcaption class="figure-caption">{{prod.name}} </figcaption></a>
                          </figure>
                        <p class="badge badge-primary"> &#x20b9 {{prod.price}} </p>

                        </div>
                    {% endfor %}

                        
                    </div>


                    
                    

                </div>
                <!-- product listing section ends  -->
               







                <!-- products categories section   -->
                <div class="col-md-3">
                    <h3 class="text text-info"> Categories</h3>
                    <hr>
                    <a href="  {% url 'shop:product_list' %} "><span class="badge badge-secondary"> ALL CATEGORIES </span></a>
                    {% for c in categories %}
                    <div class="col-sm">

                        <a href="  {{c.get_absolute_url}} "><span class="badge badge-danger"> {{c.name}} </span></a>

                    
                    
                    </div>
                    {% endfor %}
                    
                    
                </div>
                <!-- products categories section ends  -->




            </div>
        

        </div>




              
{% endblock content %}